.recipe {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  background-color: #fff;
  padding: 40px;
  box-sizing: border-box;
  border: 2px solid #58249c;
  border-radius: 6px;
}

.recipe h2 {
  color: #58249c;
}

.recipe p {
  margin: 25px;
}

.recipe ul {
  display: flex;
  padding: 0;
  justify-content: center;
  margin-top: 0px;
}
.recipe ul li {
  list-style-type: none;
  margin-right: 10px;
  color: #777;
}

.recipe ul li::after {
  content: ",";
}

.recipe ul li:last-child:after {
  content: ".";
}

.recipe .method {
  text-align: left;
  line-height: 1.5em;
}

.recipe.dark {
  background: #3333;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .recipe {
    max-width: 1050px;
    margin: 40px auto;
    text-align: center;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 2px solid #58249c;
    border-radius: 6px;
  }
}

@media screen and (max-width: 992px) {
  .recipe {
    max-width: 892px;
    margin: 40px auto;
    text-align: center;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 2px solid #58249c;
    border-radius: 6px;
  }
}

@media screen and (max-width: 768px) {
  .recipe {
    max-width: 668px;
    margin: 40px auto;
    text-align: center;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 2px solid #58249c;
    border-radius: 6px;
  }
}

@media screen and (max-width: 576px) {
  .recipe {
    max-width: 476px;
    margin: 40px auto;
    text-align: center;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 2px solid #58249c;
    border-radius: 6px;
  }
}

@media screen and (max-width: 428px) {
  .recipe {
    max-width: 358px;
    margin: 40px auto;
    text-align: center;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 2px solid #58249c;
    border-radius: 6px;
  }

  .recipe ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 0px;
    flex-direction: column;
  }

  .recipe .method {
    text-align: center;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 360px) {
  .recipe {
    max-width: 300px;
    margin: 40px auto;
    text-align: center;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 2px solid #58249c;
    border-radius: 6px;
  }

  .recipe ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 0px;
    flex-direction: column;
  }

  .recipe .method {
    text-align: center;
    line-height: 1.5em;
  }
}
