.recipe {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  background-color: #fff;
  padding: 40px;
  box-sizing: border-box;
  border: 2px solid #58249c;
  border-radius: 6px;
}

.recipe h2 {
  color: #58249c;
}

.recipe p {
  margin: 25px;
}

.recipe ul {
  display: flex;
  padding: 0;
  justify-content: center;
  margin-top: 0px;
}
.recipe ul li {
  list-style-type: none;
  margin-right: 10px;
  color: #777;
}

.recipe ul li::after {
  content: ",";
}

.recipe ul li:last-child:after {
  content: ".";
}

.recipe .method {
  text-align: left;
  line-height: 1.5em;
}

.recipe.dark {
  background: #3333;
  color: #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .recipe {
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 2px solid #58249c;
    border-radius: 6px;
    text-align: center
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {
    background: green;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {
    background: blue;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {
    background: orange;
  }
}
