.navbar2 {
  background-color: white;
}
.navbar2 nav {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
}

.navbar2 nav a.brand {
  text-decoration: none;
  margin-right: auto;
  color:
}
