.searhbar .form {
  display: flex;
  align-items: center;
}

.searhbar .btn {
  margin-right: 5px;
  padding: 11px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  border-radius: 4px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .searhbar {
    visibility: hidden;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .searhbar {
    visibility: visible
  }
}
